* {     margin: 0%;
        padding: 0%;
        
      }
.continer{
  border: 0%;
  margin: 0%;
  max-width: none;
}
.header{
  display: flex;
  justify-content: flex-start;
  max-width: none;
  margin-left: 10px;
}

#banner {
  border: 1px solid black;
  background-color: rgb(0, 189, 214);
  text-align: center;
}
#info {
  margin-top: 10px;
  border: 1px solid black;
}
.button {
  transition-duration: 0.4s;

  border-radius: 50px;
  color: white;
  background-color: rgb(0, 189, 214);
  border: 2px solid rgb(11, 147, 238);
}

.button:hover {
  color: black;
}
input[type="text"] {
  border: 0;
  border-bottom: 1px solid black;
  outline: 0;
  width: 60%;
}
#save {
  transition-duration: 0.4s;
  font-size: large;
  padding: 10px 25px;
  border-radius: 2px;
  color: white;
  background-color: rgb(0, 189, 214);
  border: 2px solid rgb(0, 189, 214) ;
}
#save:hover {
 
 color: black;
}
h1 {
        margin-top: 1px;
        padding: 0%;
        margin: 0%s;
        box-sizing: border-box;
        height: 9vh;
        width: 88%;
      }
.header img{
    margin: 10px;
    width: 50px;
    height: 50px;
}
.header a img{
    align-self: flex-end;
    width: 50px;
}
hr {
        margin: 0%;
        margin-bottom: 7px;
      }